.dd{
    font-size: 20px;
    background-color: rgb(6, 92, 92);
    height: 100vh;
}

.showdata table, th, td{
    /* border:1px solid black; */
}
/* table {
    border:1px solid black;
    border-spacing: 0px;
  } */

td{
    padding: 10px 90px;


}
.showDataa{
    width: 100vw;
    height: 80vh;

    /* border: 1px solid red; */
    padding-top: 30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.tabledata{
    /* border: 1px solid red; */
    width: 100vw;
    /* display: flex; */
    font-size: 20px
    /* justify-content: center;
    align-items: center;
    width: max-content; */
}
.dd{
    /* border: 1px solid red; */
}
.select_all_crop{
    border:1px solid red;
    font-size: 30px;
    display: flex;
    justify-content: space-around;

}