.extra_div_container{
    
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.ex_phone ,.ex_address, .ex_type{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 40vw;
    margin-top: 30px;
}
.ex_phone input ,.ex_address input{
    
    font-size: large;
}